#main-container {
  display: grid;
  margin: auto;
  margin-top: 100px;
  background-color: #ccc;
  width: 600px;
  height: 400px;
  border: solid 5px #333;
}
#panel {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: #ccc;
  width: 500px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
}
.button {
  display: inline-block;
  width: 60px;
  height: 40px;
  background-color: #abc;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}
.container {
  grid-template-columns: 50px 1fr 50% 1fr;
  grid-template-rows: 50px 60% 20px auto;
  grid-gap: 5px;
  grid-template-areas: "a a a a"
                       "b c c e"
                       "b c c e"
                       "d d d d"
}
#main-container.order1 {
  grid-template-areas: "b a a e"
                       "b c c e"
                       "b d d e"
                       "b d d e"
}
#main-container.order2 {
  grid-template-areas: "e a a ."
                       "c c c c"
                       "b . d d"
                       "b . d d"
}

.item {
  transition: width 1s, height 1s;
}

.item-1 {
  background-color: yellow;
  grid-area: a;
}
.item-2 {
  background-color: red;
  grid-area: b;
}
.item-3 {
  background-color: green;
  grid-area: c;
}
.item-4 {
  background-color: blue;
  grid-area: d;
}
.item-5 {
  background-color: orange;
  grid-area: e;
}

#main-container.order4 .item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
#main-container.order4 .item-2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#main-container.order4 .item-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
#main-container.order4 .item-4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#main-container.order4 .item-5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
